<html>

<head>
    <title>
        Vendor Login
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



    <style type="text/css">
        html,
        body {
            height: 100%;
            margin: 30px;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
        }

        .margin {
            margin: 0 !important;
        }
    </style>

</head>
<body class="white">

    <div id="profile">
        <div class="row" style="float:left;height:300px;width:400px;">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="~/static/img/additem.png">
                        <span class="card-title">Add Item</span>
                    </div>
                    <div class="card-action">
                        <a onclick="addItems()">Add Items</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="float:left;height:300px;width:400px;margin-left:20px;">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="~/static/img/bill.png">
                        <span class="card-title">Generate Bill</span>
                    </div>
                    <div class="card-action">
                        <a onclick="billGeneration()">Generate Bill</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="float:left;height:300px;width:400px;margin-left:20px;">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="~/static/img/summary.png">
                        <span class="card-title">Summary</span>
                    </div>
                    <div class="card-action">
                        <a onclick="summary()">Summary</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="items">

        <div class="input-field col s12" style="position:absolute;top:0;right:10px;">
            <a onclick="finish()" class="btn waves-effect waves-light col s12">Dashboard</a>
        </div>


        <div class="form-group">
            <input type="text" class="form-control" id="item_name" placeholder="Item Name">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="item_price" placeholder="Item Price">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="item_quantity" placeholder="Item Quantity">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="item_type" placeholder="Item Type">
        </div>
        <div class="row">
            <div class="input-field col s12">
                <a onclick="addItem()" class="btn waves-effect waves-light col s12">Add Item</a>
            </div>
        </div>

    </div>
    <div id="bills">
        <div class="input-field col s12" style="position:absolute;top:0;right:10px;">
            <a onclick="finish()" class="btn waves-effect waves-light col s12">Dashboard</a>
        </div>
        <div class="form-group" style="position:absolute;top:60px;left:100px;">
            <input type="text" class="form-control" id="customerPhone" placeholder="Customer Phone Number">
        </div>
        <div class="input-field col s12" style="position:absolute;top:100px;left:100px;">
            <a onclick="checkIfCustomeExists()" class="btn waves-effect waves-light col s12">Check</a>
        </div>
        <div class="input-field col s12">
            <a onclick="computeBill()" class="btn waves-effect waves-light col s12">Compute Bill</a>
        </div>
        <div class="form-group">
            <input type="text" class="autocomplete" id="item_name_bill" placeholder="Item Name">
        </div>
        <div class="form-group">
            <input type="number"  id="item_price_bill" placeholder="Item Price">
        </div>
        <div class="form-group">
            <input type="number" onchange="changePrice(this)" id="item_quantity_bill" placeholder="Item Quantity">
        </div>
        <div class="input-field col s12">
            <a onclick="addToTable()" class="btn waves-effect waves-light col s12">Add</a>
        </div>



    </div>
    <div id="finish" style="position:absolute;top:0;right:10px;">
        <div class="input-field col s12">
            <a onclick="finish()" class="btn waves-effect waves-light col s12">Dashboard</a>
        </div>
    </div>
    <div id="models">

    </div>


    <script>
        var emailMain = "";
        var vendorId;
        var itemList = [];
        var index = 0;
        var customerId = 0;
        var products = [];
        var prices = [];
        var itemSelected = "";
        var sum = new Number(0);
        $(document).ready(function () {
            $('#items').hide();
            $('#profile').show();
            $("#bills").hide();
            $("#models").hide();
            $("#finish").hide();
            getProfile();
        });

        function getProfile() {
            $("#login-page").hide();
            $("#profile").show();

            console.log("hey:" + emailMain);
            $.ajax({
                url: "http://localhost:59847/Vendors/GetId",
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify({


                    "VendorEmail": emailMain,

                }),
                dataType: "json",
                success: function (response) {
                    console.log(response.vendorId);
                    vendorId = response.vendorId;
                    //  populateList();
                },
                error: function (xhr) {
                    console.log("failed");
                }
            });
        }
        function addItems() {
            $("#profile").hide();
            $("#items").show();
            $("#bills").hide();
            $("#models").hide();
            $("#finish").hide();

        }
        function checkIfCustomeExists() {
            var phoneNo = document.getElementById("customerPhone").value;
            console.log("phoneNo:" + phoneNo);
            $.ajax({

                url: 'http://localhost:59847/Customers/checkPhone',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    "CustomerPhone": phoneNo,

                }),
                dataType: "json",
                success: function (returndata) {
                    if (returndata.ok) {
                        customerId = returndata.customerId;
                        console.log(customerId);
                    }
                    else {
                        window.alert("no registered account with this mobile number");
                    }
                }
            });


        }
        function addItem() {
            var itemName = document.getElementById("item_name").value;
            var itemType = document.getElementById("item_type").value;
            var itemQuantity = document.getElementById("item_quantity").value;
            var itemPrice = document.getElementById("item_price").value;
            var itemDescription = document.getElementById("item_name").value;

            console.log("vendorid: " + vendorId);
            $.ajax({

                url: 'http://localhost:59847/Products/Create',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    "ItemVendorId": vendorId,
                    "ProductName": itemName,
                    "ProductPrice": itemPrice,
                    "ProductCategory": itemType,
                    "ProductDescription": itemDescription,
                    "ProductQuantity": itemQuantity

                }),
                dataType: "json",
                success: function (returndata) {
                    if (returndata.ok) {
                        console.log("added to the items list");
                        document.getElementById("item_name").value = "";
                        document.getElementById("item_type").value = "";
                        document.getElementById("item_quantity").value = "";
                        document.getElementById("item_price").value = "";
                        document.getElementById("item_name").value = "";

                    }
                    else
                        window.alert("unable to add item");
                }

            });
        }
        function finish() {
            $("#profile").show();
            $("#items").hide();
            $("#bills").hide();
            $("#models").hide();
            $("#finish").hide();
            document.getElementById("models").innerHTML = "";
        }

        function billGeneration() {
            $("#bills").show();
            $("#profile").hide();
            $("#models").hide();
            $.ajax({

                url: 'http://localhost:59847/Products/getProductsByVendorId',
                type: 'POST',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({
                    "ItemVendorId": vendorId,

                }),
                dataType: "json",
                success: function (returndata) {
                    for (var i = 0; i < returndata.id.length; i++) {
                        products[i] = (returndata.id)[i].ProductName;
                        prices[i] = (returndata.id)[i].ProductPrice;
                    }
                    console.log("autocomplete");
                    $("#item_name_bill").autocomplete({
                        source: products,
                        select: function (event, ui) {
                            console.log("select in autocomplete");
                            console.log(ui.item);
                            itemSelected = ui.item.label;
                        }

                    });
                }
            });


        }
        function changePrice() {
            var index = products.indexOf(itemSelected);
            var price = prices[index];
            console.log("price: " + price);
            document.getElementById("item_price_bill").value = price * document.getElementById("item_quantity_bill").value;
            console.log(document.getElementById("item_price_bill").value);
            sum += new Number(document.getElementById("item_price_bill").value);
            console.log(sum);
        }
        function addToTable() {
            var itemName = document.getElementById("item_name_bill").value;
            var itemQuantity = document.getElementById("item_quantity_bill").value;
            var itemPrice = document.getElementById("item_price_bill").value;
            var obj = {
                "ItemName": itemName,
                "QuantityPurchased": itemQuantity,
                "QuantityCost": itemPrice,
            }
            itemList[index++] = obj;
            document.getElementById("item_name_bill").value = "";
            document.getElementById("item_quantity_bill").value = "";
            document.getElementById("item_price_bill").value = "";
        }

        function computeBill() {
            console.log(itemList);
            console.log("in compute bill: " + vendorId);
            $.ajax({

                url: 'http://localhost:59847/Bills/Create',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    "BillVendorID": vendorId,
                    "BillCustomerID": customerId,
                    "Total_Bill": sum,
                    "dateOfPurchase": new Date()
                }),
                dataType: "json",
                success: function (returndata) {

                    if (returndata.ok) {
                        console.log("hurray!" + returndata.BillID);
                        for (var i = 0; i < index; i++) {
                            $.ajax({

                                url: 'http://localhost:59847/Items/Create',
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    "ItemBillID": returndata.BillID,
                                    "ItemName": itemList[i].ItemName,
                                    "QuantityPurchased": itemList[i].QuantityPurchased,
                                    "QuantityCost": itemList[i].QuantityCost,
                                }),
                                success: function () {
                                    console.log("item added to bill");
                                    products = [];
                                    proces = [];
                                    index = 0;
                                    itemList = [];
                                    sum = 0;
                                    finish();

                                }
                            })
                        }

                    }


                }


            });
        }
        function summary() {
            document.getElementById("models").innerHTML = "";
            $("#profile").hide();
            $("#models").show();
            $("#items").hide();
            $("#finish").show();
            $("#bills").hide();
            var inner = "";
            $.ajax({

                url: 'http://localhost:59847/Bills/GetByVendorId/',
                type: 'POST',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({
                    "BillID": vendorId,

                }),
                success: function (data) {
                    if (data.ok) {
                        console.log("retrieved all the bill ids");
                        console.log(data.id);
                        console.log(data.id.length);
                        for (var i = 0; i < data.id.length; i++) {

                            inner = "";
                            console.log((data.id[i]));
                            console.log("bill id :" + (data.id)[i].BillID);
                            if ((data.id)[i].BillID > 0) {
                                inner += "<div class=\"row\" style=\"width:600px;float:left;padding:5px;\">"
                                    + "<div class=\"col s12 m6\" >"
                                    + " <div class=\"card light-blue lighten-3\">"
                                    + "<div class=\"card-content white-text\">"
                                    + "<span class=\"card-title\">Test Bill</span>"
                                    + "<p><table><tr><th>Item Name</th><th>Quantity Purchased</th><th>Item Price</th></tr>";
                                $.ajax({
                                    url: 'http://localhost:59847/Items/GetByBillId/',
                                    type: 'POST',
                                    contentType: 'application/json',
                                    async: false,
                                    data: JSON.stringify({
                                        "ItemId": (data.id)[i].BillID,

                                    }),
                                    success: function (itemdata) {
                                        console.log("itemdata: " + itemdata.id);
                                        for (var j = 0; j < itemdata.id.length; j++) {
                                            console.log((itemdata.id)[j].ItemName);
                                            inner += "<tr><td>"
                                                + (itemdata.id)[j].ItemName + "</td>"
                                                + "<td>"
                                                + (itemdata.id)[j].QuantityPurchased + "</td>"
                                                + "<td>" + (itemdata.id)[j].QuantityCost + "</td></tr>"
                                            console.log("inner: " + inner);
                                        }
                                        inner += "</table><br>Total Bill:" + (data.id)[i].Total_Bill + "</p></div>"
                                            + "</div>"
                                            + " </div >"
                                            + "</div>";
                                    }

                                });
                                document.getElementById("models").innerHTML += inner;
                            }
                        }

                    }
                }

            });
        }
    </script>
</body>
</html>