@{
    ViewBag.Title = "Customer Registration";
}


<!DOCTYPE html>
<html lang='en' class=''>
<head>
    <script src='//static.codepen.io/assets/editor/live/console_runner-ce3034e6bde3912cc25f83cccb7caa2b0f976196f2f2d52303a462c826d54a73.js'></script>
    <script src='//static.codepen.io/assets/editor/live/css_live_reload_init-654f8ff86ff57fe42b9638d3bacf774c90ce371a1c6d0ae81f5d12823b0334eb.js'></script>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" type="image/x-icon" href="//static.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
    <link rel="mask-icon" type="" href="//static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
    <link rel="canonical" href="https://codepen.io/anon/pen/VBbEVW" />


    <style class="cp-pen-styles">
        body {
            background-color: #F3EBF6;
            font-family: 'Ubuntu', sans-serif;
        }

        .main {
            background-color: #FFFFFF;
            width: 400px;
            height: 600px;
            margin: 7em auto;
            border-radius: 1.5em;
            box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        }

        .sign {
            padding-top: 40px;
            color: #8C55AA;
            font-family: 'Ubuntu', sans-serif;
            font-weight: bold;
            font-size: 23px;
        }

        .un {
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: rgba(136, 126, 126, 0.04);
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            margin-bottom: 50px;
            margin-left: 46px;
            text-align: center;
            margin-bottom: 27px;
            font-family: 'Ubuntu', sans-serif;
        }

        form.login-form {
            padding-top: 40px;
        }

        .pass {
            width: 76%;
            color: rgb(38, 50, 56);
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: rgba(136, 126, 126, 0.04);
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            margin-bottom: 50px;
            margin-left: 46px;
            text-align: center;
            margin-bottom: 27px;
            font-family: 'Ubuntu', sans-serif;
        }


            .un:active, .pass:active {
                border: 2px solid rgba(0, 0, 0, 0.18) !important;
            }

        .submit {
            border-radius: 5em;
            color: #fff;
            background: linear-gradient(to right, #9C27B0, #E040FB);
            border: 0;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 10px;
            padding-top: 10px;
            font-family: 'Ubuntu', sans-serif;
            margin-left: 35%;
            font-size: 13px;
            box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        }

        .forgot {
            text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
            color: #E1BEE7;
            padding-top: 15px;
        }

        a {
            text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
            color: #E1BEE7;
            text-decoration: none
        }
    </style>
</head>
<body>
    <html>

    <head>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <title>Sign in</title>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    @Html.ActionLink("EzyBills", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
        </div>
        <div class="main">
            <p class="sign" align="center">Customer Registration</p>
            <form class="login-form" action="javascript:registerCustomer()">
                <input id="username" class="un " type="text" align="center" placeholder="Username">
                <input id="password" class="pass" type="password" align="center" placeholder="Password">
                <input id="password-again" class="pass" type="password" align="center" placeholder="Re-Type Password">
                <input id="email" type="email" class="un" placeholder="Email">
                <input id="phone" type="text" class="un" placeholder="Phone No.">

                <input class="submit" type="submit" value="Register Now" align="center">
            </form>
            <p class="forgot" align="center"><a href="#">Forgot Password?</p>


        </div>

        <script>
            function registerCustomer() {
                var username = document.getElementById("username").value;
                console.log(username);
                var email = document.getElementById("email").value;
                var phoneNo = document.getElementById("phone").value;
                var password = document.getElementById("password").value;
                var repass = document.getElementById("password-again").value;
                $.ajax({

                    url: '/Customers/Create',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "CustomerUsername": username,
                        "CustomerPassword": password,
                        "SetCustomerPassword": repass,
                        "CustomerEmail": email,
                        "CustomerPhone": phoneNo,
                    }),
                    dataType: "json",
                    success: function (result) {
                        console.log("created successfully")
                    }

                });

            }
        </script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

        <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>

    </body>

</html>

</body>
</html>
