<html>
<head>
    <title>
        Customer Login
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body class="white">
    <div id="finish" style="position:absolute;top:0;right:10px;">
        <div class="input-field col s12">
            <a onclick="finish()" class="btn waves-effect waves-light col s12">Dashboard</a>
        </div>
    </div>
    <div id="models">
    </div>
    <div id="profile">
        <div class="row" style="float:left;height:300px;width:400px;">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="~/static/img/summary.png">
                        <span class="card-title">Summary</span>
                    </div>
                    <div class="card-action">
                        <a onclick="summary()">Summary</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="float:left;height:300px;width:400px;">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="~/static/img/available.jpg">
                        <span class="card-title">Check Availability</span>
                    </div>
                    <div class="card-action">
                        <a onclick="availability()">Check Availability</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="available">
        <div class="form-group">
            <input type="text" class="autocomplete" id="store_name" placeholder="Store Name">
        </div>
        <div class="form-group">
            <input type="text" class="autocomplete" id="loc" placeholder="Location">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="product" placeholder="product" />
        </div>
        <div class="input-field col s12">
            <a onclick="checkIfAvailable()" class="btn waves-effect waves-light col s12">check</a>
        </div>
    </div>
    <div id="productDetails">
        <div class="form-group">
            <input type="text" class="form-control" id="productName" placeholder="">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="productQuantity" placeholder="Quantity Available">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="productPrice" placeholder="Price">
        </div>
    </div>
    <script>
        var customerId = 0;
        var loc = "";
        var storename = "";
        $(document).ready(function () {
            console.log("in customer profile");
            $("#models").hide();
            $("#profile").show();
            $("#dashboard").hide();
            $("#available").hide();
            $("#finish").hide();
            $("#productDetails").hide();
            getProfile();

        });
        function dashboard() {
            $("#profile").show();
            $("#models").hide();
            $("#available").hide();
            $("#productDetails").hide();

        }
        function finish() {
            $("#profile").show();
            $("#models").hide();
            $("#finish").hide();
            $("#available").hide();
            $("#productDetails").hide();
            document.getElementById("productName").value = "";
            document.getElementById("productQuantity").value = "";
            document.getElementById("productPrice").value = "";
            document.getElementById("models").innerHTML = "";
        }
        function getProfile() {
            $.ajax({
                url: "http://localhost:59847/Customers/GetId",
                type: "POST",
                contentType: 'application/json',
                
                dataType: "json",
                success: function (response) {
                    console.log(response.customerId);
                    customerId = response.customerId;
                    $("#profile").show();
                },
                error: function () {
                    console.log("failed");
                }
            });

        }
        function summary() {
            document.getElementById("models").innerHTML = "";
            $("#models").show();
            $("#profile").hide();
            $("#finish").show();
            var inner = "";
            $.ajax({

                url: 'http://localhost:59847/Bills/GetByCustomerId/',
                type: 'POST',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({
                    "BillID": customerId,
                }),
                success: function (data) {
                    if (data.ok) {
                        console.log("retrieved all the bill ids");
                        console.log(data.id);
                        console.log(data.id.length);
                        if (data.id.length > 0) {
                            for (var i = 0; i < data.id.length; i++) {
                                inner = "";
                                console.log((data.id)[i]);
                                console.log("bill id :" + (data.id)[i].BillID);
                                if ((data.id)[i].BillID > 0) {
                                    inner += "<div class=\"row\" style=\"width:600px;float:left;padding:5px;\">"
                                        + "<div class=\"col s12 m6\" >"
                                        + " <div class=\"card light-blue lighten-3\">"
                                        + "<div class=\"card-content white-text\">"
                                        + "<span class=\"card-title\">Test Bill</span>"
                                        + "<p><table><tr><th>Item Name</th><th>Quantity Purchased</th><th>Item Price</th></tr>";
                                    $.ajax({
                                        url: 'http://localhost:59847/Items/GetByBillId/',
                                        type: 'POST',
                                        contentType: 'application/json',
                                        async: false,
                                        data: JSON.stringify({
                                            "ItemId": (data.id)[i].BillID,

                                        }),
                                        success: function (itemdata) {
                                            console.log("itemdata: " + itemdata.id);
                                            for (var j = 0; j < itemdata.id.length; j++) {
                                                console.log((itemdata.id)[j].ItemName);
                                                inner += "<tr><td>"
                                                    + (itemdata.id)[j].ItemName + "</td>"
                                                    + "<td>"
                                                    + (itemdata.id)[j].QuantityPurchased + "</td>"
                                                    + "<td>" + (itemdata.id)[j].QuantityCost + "</td></tr>"
                                                console.log("inner: " + inner);
                                            }
                                            inner += "</table></p></div>"
                                                + "</div>"
                                                + " </div >"
                                                + "</div>";
                                        }

                                    });
                                    document.getElementById("models").innerHTML += inner;
                                }
                            }
                        }
                    }
                }
            });
        }
        function availability() {
            $("#available").show();
            $("#profile").hide();
            $("#finish").show();
            document.getElementById("product").value = "";
            document.getElementById("store_name").value = "";
            document.getElementById("loc").value = "";

            var stores = [];
            $.ajax({

                url: 'http://localhost:59847/Vendors/StoreNames/',
                type: 'POST',
                contentType: 'application/json',
                async: false,
                success: function (data) {
                    stores = data.stores;
                    $("#store_name").autocomplete({
                        source: stores,
                        select: function (event, ui) {

                            storeName = ui.item.label;
                            $.ajax({

                                url: 'http://localhost:59847/Vendors/Location/',
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    "StoreName": storeName,
                                }),
                                async: false,
                                success: function (data) {
                                    var locations = data.locations;
                                    $("#loc").autocomplete({
                                        source: locations,
                                        select: function (event, ui) {
                                            loc = ui.item.label;
                                        }
                                    });
                                }
                            });

                        }
                    });


                }
            });
        }
        function checkIfAvailable() {
            $("#productDetails").show();
            var item = document.getElementById("product").value;
            $.ajax({
                url: 'http://localhost:59847/Customers/CheckItem?item=' + item,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    "StoreName": storeName,
                    "Location": loc
                }),
                success: function (data) {
                    if (data.products == null) {
                        document.getElementById("productName").value = "NA";
                        document.getElementById("productQuantity").value = "NA";
                        document.getElementById("productPrice").value = "NA";
                    }
                    console.log(data.products);
                    document.getElementById("productName").value = data.products.ProductName;
                    document.getElementById("productQuantity").value = data.products.ProductQuantity;
                    document.getElementById("productPrice").value = data.products.ProductPrice;
                }
            });
        }
    </script>

</body>

</html>